body{
	background-color: #ffffcc;
	font-family: Arial, Garamond, Monospace;
}

.center{
	text-align: center;
}

a:hover{
	font-size : x-large;

}

img.align-right{
	float: right;
	margin-left: 5px;
	margin-right: 5px;

}

img.align-left{
	float: left;
	margin-left: 0px;
	margin-right: 0px;

}

ul.square{
	list-style-type: square;
	margin-left: 90px;
}

ul.circle{
	list-style-type: circle;
}