body{
	background-image: url("../pics/background.JPG");
	background-size: 100%;
	font-family: Comic Sans MS, Arial, Verdana;
	
}

p{
	font-size: 60pt;

}

ul{
	font-size: 25pt;
	list-style-type: circle;
}

a{
	text-decoration: none;
	background-color: transparent;
	color: black;
}

a:hover{
	color: brown;
}

img.align-right{
	float: right;
}

img.align-left{
	float: left;
}
blockquote{
	font-size: 30px;
}